
<li class="nav-item">
    <a class="nav-link active" data-bs-toggle="collapse" href="#menuAccordionMenu" role="button" aria-expanded="true" aria-controls="menuAccordion">
    Menu Management
    </a>
    <div class="collapse" id="menuAccordionMenu">
    <ul class="nav flex-column ms-3">
        <!-- Aggiungi i link per la gestione dei piatti -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'menu_management:menu_dashboard' %}">Menù</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'menu_management:menu_dashboard' %}">Menù evento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'menu_management:dishtype_dashboard' %}">Tipologia Piatti</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'menu_management:dish_dashboard' %}">Piatti</a>
        </li>
    </ul>
    </div>
</li>
