{% extends "website/base.html" %}
{% load static %}

{% block content %} 
<div style="min-height: 90vh">
    <h2 class="text-center fs-1 mx-auto p-4"> {{title}} </h2>
    <div class="mx-auto w-75">
    <p>La nostra carta dei vini è stata pensata e costruita per farvi divertire.</p>
    <p>Selezioniamo etichette sempre nuove, che cambiano con la stagione,
    proprio come fa il nostro menu.</p>
    <p>Principalmente trovate referenze italiane ma anche diverse proposte
    estere, dai cugini francesi fino allo zio d’America!</p>
    <p>Non sono tantissime ma si trova sempre qualcosa di interessante, in tutte
    le tipologie: dalle bollicine semplici e spensierate fino ai rossi di
    struttura, passando per bianchi freschi, golosissimi rosati e strambi
    vini macerati.</p>
    <p>Uno dei nostri criteri di scelta, sia delle etichette che poi dei piatti
    che trovate in carta, è sempre il rapporto qualità prezzo. Crediamo che
    non sia necessario spendere un capitale per bere bene. Trovate qualcosa
    di più costoso si, ma la maggior parte delle bevute che potete fare da
    noi ha un prezzo abbordabile.</p>
    <p>Godetevi Molino, Buona bevuta!</p>
    </div>
</div>


{% endblock %}