<div class="col-12 col-md-4 mb-3">
    <div class="card p-3">
        <div class="card-body text-center pt-3 shadow-sm">
            <!-- Icona e titolo affiancati -->
            <div class="d-flex justify-content-center align-items-center gap-2 mb-3">
                <i class="fas fa-utensils fa-2x"></i>
                <h5 class="card-title mb-0">Menu</h5>
            </div>

            <!-- Accordion -->
            <div class="accordion" id="menuAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingMenu">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu">
                            Gestione Menu
                        </button>
                    </h2>
                    <div id="collapseMenu" class="accordion-collapse collapse" aria-labelledby="headingMenu" data-bs-parent="#menuAccordion">
                        <div class="accordion-body">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{% url 'menu_management:menu_backoffice' %}" class="btn btn-outline-dark my-1 w-100 text-start">
                                        <i class="fas fa-clipboard-list me-2"></i> Gestione Piatti
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>